<div ng-cloak class="hero-banner-tabs">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" md-center-tabs="true">
      <md-tab label="Gymnastics">
        <md-content class="md-padding work-tab-container">
          <div ng-controller="TabContentController as ctrl">
            <div ng-repeat="hobby in hobbies">
              <div label="{{hobby.title}}" class="work-tab">
                <tabContentdirective project="hobby"></tabContentdirective>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Artwork">
      </md-tab>
    </md-tabs>
  </md-content>
</div>
