<div ng-controller="HomeController as ctrl">
    <div class="hero-banner">
        <div class="hero-banner__content">
            <div class="intro-text-box">
                <h1>Intro</h1>
                <div class="links-container">
                    <span class="link-span"></span>
                    <h2 class="header-link" style="width:125px;">{{cv_text}} <i class="fa fa-file" aria-hidden="true"></i></h2>
                    <h2 class="header-link">{{github_text}} <i class="fa fa-github" aria-hidden="true"></i></h2>
                    <h2 class="header-link">{{linkedin_text}} <i class="fa fa-linkedin-square" aria-hidden="true"></i></h2>
                    <span class="link-span"></span>
                </div>
                <div class="intro-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sem nisi, laoreet quis metus eu, porttitor varius enim. Morbi quis magna quis nisl tincidunt faucibus et at libero. Nunc posuere, odio at rhoncus porttitor, ante ex ornare dui, vitae convallis augue nunc ac dolor. Sed ultrices sollicitudin quam, condimentum sodales velit hendrerit id. Duis nec eros sit amet tortor luctus lobortis. Vivamus pretium felis at volutpat commodo. Donec pellentesque porta pharetra. Donec id mauris elit. Sed vestibulum sed leo et molestie. Curabitur dui nulla, blandit in scelerisque efficitur, elementum in tortor. Aenean pharetra vehicula metus, a viverra quam fringilla ut. Nullam vitae lorem a augue condimentum mattis non vel metus. Morbi et tempus odio, vitae pulvinar eros. Fusce laoreet semper iaculis. Suspendisse ultricies rutrum velit, vitae hendrerit ligula pharetra sit amet. Etiam id dolor lacinia, dapibus leo eget, tristique purus.</p>
                </div>
                <div class="contact-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>  
