@import '../../../apps/main/style/mixin';

$youtube-desktop-width : 600px;
$youtube-desktop-height : 300px;
$youtube-tablet-width : 400px;
$youtube-tablet-height : 300px;
$youtube-mobile-width : 320px;
$youtube-mobile-height : 300px;


.hero-banner-tabs {
  height: 100%;
}

.work-container {
  padding: 2rem;
  color: white;

  .work-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
  }

  .work-info {
    display: flex;

    @media (max-width : $mq-tablet-portrait) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .work-media {

      @media (max-width : $mq-tablet-portrait) {
    		flex: 0 0 100%;
        margin-bottom: 1rem;
    	}

      .media-container {

      }

      .media {
        width: $youtube-desktop-width;
        height: $youtube-desktop-height;
        margin: auto;
        display: block;

        @media (max-width : $mq-tablet-landscape) {
      		width: $youtube-tablet-width;
          height: $youtube-tablet-height;
      	}
        @media (max-width : $mq-mobile-landscape) {
      		width: $youtube-mobile-width;
          height: $youtube-mobile-height;
      	}
      }
    }

    .work-description {
      @include round-box(white, rgba(0, 0, 0, 0.5));
      flex: 1;
      margin-right: 2rem;
      margin-left: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;

      @media (max-width : $mq-tablet-portrait) {
        margin-right: 0rem;
        margin-left: 0rem;
    	}
    }
    .icon {
      float: left;
    }

    .work-text {
      font-size: 2rem;
      margin: 0px;
    }
  }
}
