<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Noel Wilson's personal website, showcasing projects and work done as a fullstack developer">
    <META name="keywords" content="web developer software noel wilson">
    <meta name="author" content="Noel Wilson">
    <title>Noel Wilson</title>

    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="https://www.noel-wilson.com/"
          hreflang="en" />
    <script>
      var RAW = '{% raw context %}';
      var CONTEXT = JSON.parse(RAW);;
    </script>
    <script src="{{ static_url('bundle.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}"></link>
    <base href="/">
    {% block head %}
    {% end %}
  </head>

  <body>
    {% block nav %}
    {% end %}
    <app class="app" >
      {% block main %}
      {% end %}
    </app>
  </body>
</html>
