@import '../../../apps/main/style/mixin';

$youtube-width : 420px;

.hero-banner-tabs {
  height: 100%;
}

.project-container:nth-child(even) {
  background: #4d4d4d;
}

.work-container {
  padding: 2rem;
  color: white;

  .work-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .work-info {
    display: flex;

    @media (max-width : $mq-tablet-portrait) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .work-media {

      @media (max-width : $mq-tablet-portrait) {
    		flex: 0 0 100%;
    	}

      .youtube-container {
        width: $youtube-width;
      }

      .youtube {
        width: $youtube-width;
      }
    }

    .work-description {
      @include round-box(white, black);
      flex: 1;
      margin-right: 2rem;
      margin-left: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .icon {
      float: left;
    }

    .work-text {
      font-size: 2rem;
      width: 500px;
      margin: 0px;
    }
  }
}
