@import '../../../apps/main/style/mixin';

$youtube-width : 420px;

.work-tab-container {
  background-color: transparent;
}

.work-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.work-info {
  display: flex;
  padding: 2rem;

  .work-media {
    flex: 0 0 45%;

    .youtube-container {
      width: $youtube-width;
      margin: auto;
    }

    .youtube {
      width: $youtube-width;
    }
  }

  .work-description {
    flex: 1;
    margin-right: 2rem;
  }
  .icon {
    float: left;
  }

  .work-text {
    font-size: 2rem;
  }
}

md-content {
  background-color: transparent;

  md-tabs {
    .md-tab {
      color: #9d9d9d;
    }
    .md-tab.md-active {
      color: #fff;
      background-color: #090909;
    }
  }

  md-ink-bar {
    background-color: #fff;
  }
}
