<div ng-cloak ng-controller="TabContentController as ctrl" class="hero-banner-tabs">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" md-center-tabs="true">
      <md-tab label="VFX">
        <md-content class="md-padding work-tab-container">
          <div ng-repeat="project in vfx_projects">
            <div label="{{project.title}}" class="work-tab">
              <tabcontent project="project"></tabcontent>
            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Web">
        <md-content class="md-padding work-tab-container">
          <div ng-repeat="project in web_projects">
            <div label="{{project.title}}" class="work-tab">
              <tabcontent project="project"></tabcontent>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
