<div class="work-container">
  <h2 class="work-title">{{ project.title }}</h2>
  <div class="work-info">
    <div class="work-media">
      <div class="youtube-container">
        <iframe class="youtube" height="315" ng-src="{{ project.youtube_url }}">
        </iframe>
    </div>
    </div>
    <div class="work-description intro-text-box">
      <img class="icon" ng-src="{{ project.icon }}">
      <div class="clear">
        <p class="work-text">{{ project.text }}</p>
      </div>
    </div>
  </div>
</div>
