@import '../../../apps/main/style/mixin';

.intro-message{
    @include round-box(black, white);
}

.hero-banner {
    @include hero-image('/static/components/home/assets/img/laptop_coffee.jpg');

    .hero-banner__content {
        text-align: center;
        display: block;
        left: inherit;
        height: 100%;
        min-height: 64rem;
        max-height: 68rem;
        margin: inherit;
        position: relative;
        top: inherit;
        transform: none;
        padding: 10rem;

        @media (max-width : $mq-tablet-portrait) {
            padding: 5rem;
        }
        @media (max-width : $mq-mobile-landscape) {
            padding: 2rem;
        }
    }

    .intro-text-box {
        @include trans-box(white, black);
        width: 100%;
        display:block;
        overflow:auto;


        .links-container {
            width:100%;
            text-align: center;
            display: flex;
            justify-content: space-between;

            .header-link{
                width: 175px;
                font-size: 25px;

                @media (max-width : $mq-tablet-portrait) {
                    width: 75px;
                }
            }

            .link-span{
                width: 175px;

                @media (max-width : $mq-tablet-landscape) {
                    width: 100px;
                }
                @media (max-width : $mq-tablet-portrait) {
                    width: 25px;
                }
            }

            .link-anchor{
              color: #fff;

              &:hover {
                color: #bff0ff;
              }
            }
        }

        .contact-text {
            @include float-content(100%);
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
        }

        .intro-text {
            font-size: 20px;
        }
    }
}
