@import '../../../apps/main/style/mixin';

.intro-message{
    @include black-box();
}

.header-link{
    @include float-left();
}

.hero-banner {
    @include hero-image('/static/components/home/assets/img/laptop_coffee.jpg');
}

.content-box {
    &:after {
       content: " ";
       display: block;
       height: 0;
       clear: both;
   }
}

.intro-text-box {
    @include float-content(60%);
}

.contact-text-box {
    @include float-content(30%);
}