@import 'variables';

@mixin float-left($margin) {
  float:left;
  @if $margin {
    margin:$margin;
  }
  @else {
    margin:$default-margin;
  }
}

@mixin round-box($text-color, $back-color) {
  color: $text-color;
	background-color:$back-color;
	padding:10px;
	margin:0px;
	border:4px solid $text-color;

	/* outer shadow */
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px;
	 border-radius: 7px;
	 /* gradients */
}

@mixin trans-box($text-color, $back-color) {
    @include round-box($text-color, $back-color);
    background-color: rgba($back-color, 0.5);
}

@mixin float-content($percent) {
    float:left;
    width:$percent;
}

@mixin clearfix() {

}

@mixin hero-image($img) {
    position: relative;
    background-image: url($img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh; // Covers browsers that don't understand viewport units.

    @media (max-width : $mq-tablet-portrait) {
		@content;
		background-position: -100px 0px;
	}

    @media (max-width : $mq-mobile-landscape) {
		@content;
		background-position: -200px 0px;
	}

    // Generic image settings between the two pseudo elements.
    &::before,
    &::after {
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
