// base.scss

@import 'reset';
@import 'mixin';
@import '../../../components/text_box/style/main';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.clear {
  clear: both;
  margin: $default-margin;
}

.white-line{
    color: white;
    clear: both;
}