// base.scss

@import 'reset';
@import 'mixin';
@import '../../../components/tabContent/style/main';
@import '../../../components/home/style/main';
@import '../../../components/blog/style/main';
@import '~angular-material/angular-material';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #333333;
  padding-top: 50px;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2 {
  color: #fff;
}

.starter-template {
  padding: 40px 15px;
}

.clear {
  clear: both;
}

.white-line{
    color: white;
    clear: both;
}

.app{
    &:before {
      content: "";
      display: table;
      clear: both;
  }
}

md-tabs-canvas {
  background-color: #222;
}

md-content {
  background-color: transparent;

  md-tabs {
    .md-tab {
      color: #9d9d9d;
    }
    .md-tab.md-active {
      color: #fff;
      background-color: #090909;
    }
  }

  md-ink-bar {
    background-color: #fff;
  }
}

.project-container {
  background-color: $background-color;
}

.project-container:nth-child(even) {
  background-color: $background-color-alt;
}
