// base.scss

@import 'reset';
@import 'mixin';
@import '../../../components/home/style/main';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #333333;
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.clear {
  clear: both;
  margin: $default-margin;
}

.white-line{
    color: white;
    clear: both;
}

.app{
    &:before {
        content: "";
        display: table;
        clear: both;
  }
}